USE [master]
GO
/****** Object:  Database [TourMate_Feedback]    Script Date: 7/5/2025 1:16:30 PM ******/
CREATE DATABASE [TourMate_Feedback]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TourMate_Feedback', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_Feedback.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TourMate_Feedback_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_Feedback_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TourMate_Feedback].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TourMate_Feedback]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 7/5/2025 1:16:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedbackId] [int] IDENTITY(1,1) NOT NULL,
	[customerId] [int] NOT NULL,
	[tourGuideId] [int] NOT NULL,
	[createdDate] [datetime] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[rating] [int] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[invoiceId] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlatformFeedback]    Script Date: 7/5/2025 1:16:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlatformFeedback](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[PaymentId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
